body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://live.staticflickr.com/65535/52273760865_129bdae566_h.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 200px;
    width: 90%;
}

.text {
    display: inline-block;
}

.text span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    margin-left: 3rem;
    font-size: 5rem;
    color: pink;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Media query cho giao diện mobile */
@media only screen and (max-width: 768px) {
    .text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .text span {
        margin-left: 0;
        font-size: 3rem;
        text-align: center;
    }
    html {
        background-repeat: repeat;
    }
}
